/* ESTILOS MODAL OPTION */
.modal-header, .footer-login{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-header img{
  width: 350px;
  height: 200px;


}

.btn-options{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn-options button{
  margin: 10px;
}

/* ESTILOS PARA EL LOGIN MENTORA */
.login-header img{
  width: 200px;
  height: 100px;

}

.form-login label{
  color: rgb(184, 182, 182);
  font-weight: bold;
}
