* {
  box-sizing: border-box;
}
html, body {
  background: #f4f3f4;
  margin: 0;
  height: 100%;
}
body {
  color: #000;
  font-size: 1rem;
  font-family: "Proxima Nova", "proxima-nova", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.8px;
}
h1 {
  line-height: 1;
  margin: 0;
}
#root {
  height: 100%;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;

}
main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
main > div {
  flex: 1;
  margin: 0 1rem 0 0;
}
.tags {
  border: 1px solid #ccc !important;
  color: #000 !important;
  background-color: #dddde2 !important;
}
.tags:active{
  border-color: #000 !important;
}

/* Styles for Home */

.background {
  background-image: url(../assets/img/design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; 
  z-index: -1;
  /*display: flex;
  align-items: center;
  justify-content: center*/
}

.title-home {
  padding-top: 20rem;
  text-align: center;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
}

.container-home {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.link-home {
  text-decoration: none;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.text-home {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}

.icon-arrow {
  width: 1.5rem;
  margin-left: 1rem;
}