#editor {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}
#editor #HTML_EDITOR {
  flex: 1;
}
#editor .presets {
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
  display: flex;
}
#editor .presets ul {
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: right;
}
#editor .presets li {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: inline;
  border-right: 1px solid #aaa;
}
#editor .presets li:last-of-type {
  border: none;
  padding-right: 0;
}
